* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-image: url(../assets/images/wall1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: Courier;
	overflow: hidden;
}
#box-static{
	border: 1px solid black;
	width: 40%;
}

nav {
	background-color: rgb(80,171,241);
	color: white;
	font-size: 25px;
	height: 10vh;
	padding-top: 2vh;
	text-align: center;
}
p,h2{
	padding: 10px, 0, 0;
}
.nuevo-mensaje {
	background-color: #fff;
	border-radius: 5px;
  margin: 1.5% auto;
  padding: 1%;
}

.tweet {
	display: block;
	overflow-wrap: break-word;
}

.seagreen {
  color: seagreen;
}

.greenyellow {
  color: greenyellow;
}

.orangered {
  color: orangered;
}

.red {
	color: red;
	
}